head
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/javascripts/layui/css/layui.css") 
    script(src="/javascripts/comm/jquery-2.2.2.min.js") 
    script(src="/javascripts/layui/layui.js") 
    script(src="/javascripts/views/authToRole.js") 
body 
    div
        br
        div
            form(class="layui-form layui-form-pane") 
                div(class="layui-form-item")
                    label(class="layui-form-label",style="width:25%") 账号
                    div(class="layui-input-inline",style="width:55%" )
                        input(type="text" id="txtUSERID" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input") 

                div
                div(id="GridList") 
                