head
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/javascripts/layui/css/layui.css") 
    script(src="/javascripts/comm/jquery-2.2.2.min.js") 
    script(src="/javascripts/layui/layui.js")
    script(src="/javascripts/views/role.js") 
body
    div(class="div") 
        div(class="divleft") &#12288;
            form(class="layui-form layui-form-pane")
                div(class="layui-form-item")    
                    label(class="layui-form-label") 角色名称
                    div(class="layui-input-inline")
                        input(type="text" name="txtRoleName" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input")
                  
                    label(class="layui-form-label") 状态
                    div(class="layui-input-inline")
                         select(name="drpState") 
                            option(value="0") 启用
                            option(value="1") 停用 
            
            div
                button(type='button' class='layui-btn' id='butSearch') 查询
                button(type='button' class='layui-btn layui-btn-normal' id='butAdd') 新增
                button(type='button' class='layui-btn layui-btn-warm' id='butEdit') 修改
                button(type='button' class='layui-btn layui-btn-danger' id='butDel') 删除
            
            div 
                table(class="layui-table")
                    thead
                        tr
                        th(class="layui-table-cell laytable-cell-1-0-1") 角色编号 
                        th(class="layui-table-cell laytable-cell-1-0-1") 角色名称
                        th(class="layui-table-cell laytable-cell-1-0-1") 游戏类型 
                        th(class="layui-table-cell laytable-cell-1-0-1") 状态
                div(id="GridList") 

        div(class="divright")
            form(class="layui-form layui-form-pane")
                div(class="layui-form-item")
                    label(class="layui-form-label") 角色名称
                    div(class="layui-input-inline")
                        input(type="text" name="txtRoleName" lay-verify="required" placeholder="角色名称" autocomplete="off" class="layui-input")
                
                div(class="layui-form-item")
                    label(class="layui-form-label") 游戏类型
                    div(class="layui-input-inline")
                        select(id="drpGameType") 
                            option(value="") ALL
                            option(value="0") 篮球
                            option(value="1") 足球 
                            option(value="2") 拳击 

            fieldset(class="layui-elem-field layui-field-title" style="margin-top: 30px;")
                legend 功能区
            div(id='TreeList')
            div(style='text-align:center;')
                button(type='button' class='layui-btn layui-btn-warm' id='butEditTree' lay-demo="getChecked") 保存

//- script layui.use(['tree', 'util'], function(){ var tree = layui.tree ,layer = layui.layer,util = layui.util }); 