head
    link(rel="stylesheet", href="/javascripts/layui/css/layui.css") 
    script(src="/javascripts/layui/layui.js")  
body  
    div(class='layui-side layui-bg-black' )
        div(class='layui-side-scroll')
            ul(class='layui-nav layui-nav-tree site-demo-nav' )
                //- 第一层目录，暂时只设置两层目录
                each val,key in Treedata  
                    li(class='layui-nav-item layui-nav-itemed')
                        a(class="javascript:;" href="javascript:;") #{val.text}

                        each valchild in val.value
                            dl(class='layui-nav-child')
                                a(href="#{valchild.path}" target="iframeContent") #{valchild.text} 


script layui.use('element', function(){ var element = layui.element; }); 
