extends layout

block content
  script(type="text.javascript" src="../public/javascripts/index.js")
  h1= title
  li Welcome to #{title} 
  
    br 
    //-  onclick="windows.location.href='http://localhost:8088/'"    
    ul 
      li
        a(href='/xm/ClientMongoDBConn', title='链接mongoDB') 链接mongoDB
    ul 
      li 
        a(href='/xm/FindUserInfo?username', title='FindUserInfo') 查询用户信息
    ul         
        textarea(id="txtAreaReturn",style="height:500px;width:1000px;") #{ReturnData}
