head
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/javascripts/layui/css/layui.css") 
    script(src="/javascripts/comm/jquery-2.2.2.min.js") 
    script(src="/javascripts/layui/layui.js")
    script(src="/javascripts/views/auth.js") 
body
    div(class="div") 
        div
            form(class="layui-form layui-form-pane")
                div(class="layui-form-item")   
                     
                    label(class="layui-form-label") 账号
                    div(class="layui-input-inline")
                        input(type="text" id="txtUSERID" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input")

                    label(class="layui-form-label") 名称
                    div(class="layui-input-inline")
                        input(type="text" id="txtUSERNAME" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input") 
                 
                    label(class="layui-form-label") 代理账号
                    div(class="layui-input-inline")
                        input(type="text" id="txtAGENT" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input") 
                                      
                    label(class="layui-form-label") 状态
                    div(class="layui-input-inline")
                         select(id="drpState") 
                            option(value="0") 启用
                            option(value="1") 停用 
            
            div
                button(type='button' class='layui-btn' id='butSearch') 查询
                button(type='button' class='layui-btn layui-btn-normal' id='butAdd') 新增
                button(type='button' class='layui-btn layui-btn-danger' id='butDel') 删除
            
            div 
                div(id="GridList") 
    